# copy the parameters below to .env file and fill in the values
# This file is used to set environment variables for the application

BOT_TOKEN=
CLIENT_ID=

MONGO_URI=

BOT_STATUS=
ACTIVITY_TYPE=
ACTIVITY_NAME=